<header>    
        <h1>VGLuxeBeauty</h1>
        <form class="buscador" action="#" method="get" > 
            <div class="buscador-container" >
                <i class="bi bi-search buscador-icono" aria-hidden="true"></i>
                    
                <input type="text" 
                name="q"
                placeholder="Buscar productos..." 
                class="buscador-input" >
                
            </div>
            <input type="submit" class="boton-enviar" value="Buscar" >
        </form >
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>