html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.seccion-producto {
    display: flex;  
    width: 100%;
    
  
  background-color: #d0abf1;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.producto-imagen img {
    
    height: auto;
    border-radius: 10px;
    margin-right:50px ;
}

.producto-detalle {
    font-family: 'Dancing Script';
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    border-left: solid #00000081 1px;
    padding-left: 20px;
    margin-right: 40%;
}

.producto-detalle button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.producto-detalle button:hover {
    background-color: #6d597a;
}

.seccion-resenas {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 30px auto;
    background-color: #f9f9f9a6;
    border-radius: 10px;
}
.seccion-resenas h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.promedio-calificacion {
    text-align: center;
    margin-bottom: 30px;
}
    

.promedio-calificacion .numero {
    font-size: 48px;
    font-weight: bold;
    color: var(--accent-color);
}

.promedio-calificacion .estrellas {
    color: #f5a623;
    font-size: 24px;
}

.promedio-calificacion .total{
    color : #666;
    font-size: 14px;
}

.resena {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resena-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.resena-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resena-usuario .avatar {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.resena-usuario .nombre {
    font-weight: bold;
    color: #333;
}

.resena-estrellas {
    color: #ffd700;
    font-size: 18px;
    margin-bottom: 10px;
}

.resena-comentario {
    color: #555;
    line-height: 1.5;
}

.btn-escribir-resena {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    padding: 12px, 30px;
    font-size: 16px;
    font-family: 'Dancing Script';
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-escribir-resena:hover {
    background-color: #6d597a;
}